*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

/* HEADER */

.header{
    display: flex;
}

.header-h1{
    padding-top: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    size: 24px;
    color: rgba(53, 175, 244, 1);
}

.header-p-home{
    font-family:'Inter', sans-serif;
    font-weight: 500;
    size: 20px;
    line-height: 27px;
    color: rgba(53, 175, 244, 1);
    font-size: 20px;
}

.header-p{
    font-family:'Inter', sans-serif;
    font-weight: 500;
    size: 20px;
    line-height: 27px;
    color:  rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.4s;
}

.header-p:hover{
    color: rgba(53, 175, 244, 1);;
}

.header-nav{
    display: flex;
    gap: 20px;
    padding-top: 23px;
    padding-left: 200px;
}

.header-button-1{
    margin-left: 200px;
    font-weight: 500;
    size: 22px;
    line-height: 27px;
    color:  rgb(0, 0, 0);
    font-size: 22px;
    margin-top: 15px;
    border: 1px solid;
    border-color: black;
    padding: 13px 15px;
    border-radius: 10px;
    transition: 0.4s;
}

.header-button-1:hover{
    background-color: black;
    color: white;
}

.header-button-2{
    margin-left: 20px;
    font-weight: 500;
    size: 22px;
    line-height: 27px;
    color:  rgb(255, 255, 255);
    font-size: 22px;
    margin-top: 15px;
    border: 1px solid;
    border-color: black;
    background-color: black;
    padding: 13px 15px;
    border-radius: 10px;
    transition: 0.4s;
}

.header-button-2:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* MAIN */

.main{
    display: flex;
    margin-top: 160px;
}

.main-h1{
    max-width: 600px;
font-size: 54px;
font-weight: 700;
line-height: 66px;
letter-spacing: 0em;
text-align: left;
}

.main-p{
    margin-top: 20px;
max-width:500px;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: rgba(144, 144, 144, 1);
}

.main-info-img{
    padding-top: 65px;
}

.main-img{
    width: 441px;
    height: 396px;
    margin-left: 180px;
}

/* SECTION */

.section{
    margin-top: 100px;

}

.section-h1{
font-size: 35px;
font-weight: 500;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
}

.section-p{
margin-top: 12px;
max-width: 400px;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: rgba(144, 144, 144, 1);
}

/* SECTION-MAIN */

.section-main{
    height: 900px;
    margin-top: 90px;
}

.section-block-1{
    display: flex;
    gap: 150px;
    padding-bottom: 50px;
}

.card-1-h1{
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-top: 11px;
transition: 0.4s;
}

.card-1-h1:hover{
    color: rgba(53, 175, 244, 1);;
}

.card-h1-display{
    display: flex;
}

.card-1-h1-star-number-display{
display: flex;
margin-top: 15px;
margin-left: 22px;

}

.card-1-h1-img{
    padding-left:60px;
    width:80px;
    height:16px;
    padding-right:5px;
}

.card-1-h1-number{
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
}

.card-1-p-display{
    display: flex;
    margin-top: 6px;
    gap: 4px;
}

.card-1-p{
color: rgb(144, 144, 144, 1);
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.card-1-dollar{
color: rgba(53, 175, 244, 1);
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.card-1-number{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

/* FOOTER */

.footer{
    width: 100%;
    height: 357px;
    background-color:rgba(24, 24, 24, 1);
    margin-top: 55px;
}

.footer-display{
    display: flex;
}

.footer-h1{
    padding-top: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    size: 24px;
    color: rgba(53, 175, 244, 1);
    padding-top: 60px;
}

.footer-p{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: white;
max-width: 300px;
padding-top: 20px;
}

.footer-block-2{
    padding-top: 55px;
    padding-left: 380px;
}

.footer-block-2-p-main{
    color: white;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
padding-top: 10px;
transition: 0.4s;
}

.footer-block-2-p-main:hover{
    color:rgba(53, 175, 244, 1) ;
}

.footer-block-2-p{
    color: white;
font-size: 16px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
padding-top: 10px;
transition: 0.4s;
}

.footer-block-2-p:hover{
    color: rgba(53, 175, 244, 1);
}

.footer-block-3{
    padding-top: 55px;
    padding-left: 300px;
}